<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
    <body>
        <h1 id="title">Product List</h1>
        <table>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
            </tr>
            <tr th:each="product : ${products}">
                <td th:text="${product.name}">Name</td>
                <td th:text="${product.price}">Price</td>
                <td th:text="${product.description}">Description</td>
            </tr>
        </table>
    </body>
</html>