<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1 id="title">Product Details</h1>
    <form action="#" th:action="@{/list/product/}" th:object="${product}" method="post">
        <table>
            <tr>
                <td>Name:</td>
                <td><input type="text" th:field="*{name}" /></td>
                <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
            </tr>
            <tr>
                <td>Description:</td>
                <td><input type="text" th:field="*{description}" /></td>
                <td th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</td>
            </tr>
            <tr>
                <td>Price:</td>
                <td><input type="text" th:field="*{price}" /></td>
                <td th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error</td>
            </tr>
            <tr>
                <td>
                    <input type="hidden" th:field="*{ref}"/>
                    <button type="submit">Submit</button>
                </td>
            </tr>
        </table>
    </form>
    <!-- TODO: if user is admin... -->
    <form action="#" th:action="@{/list/product/delete}" th:object="${product}" method="post">
        <input type="hidden" th:field="*{ref}"/>
        <button type="submit">Delete</button>
    </form>
</body>
</html>