<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1 id="title">Register</h1>
<form action="#" th:action="@{/register}" th:object="${userdetails}" method="post">
    <table>
        <tr>
            <td>Email address:</td>
            <td><input type="text" th:field="*{username}" /></td>
            <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">User name Error</td>
        </tr>
        <tr>
            <td>Forename:</td>
            <td><input type="text" th:field="*{forename}" /></td>
            <td th:if="${#fields.hasErrors('forename')}" th:errors="*{forename}">Forename Error</td>
        </tr>
        <tr>
            <td>Surname:</td>
            <td><input type="text" th:field="*{surname}" /></td>
            <td th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname Error</td>
        </tr>
        <tr>
            <td>Date of birth:</td>
            <td><input type="text" th:field="*{dob}" /></td>
            <td th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}">Date Of Birth Error</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" th:field="*{password}"/></td>
            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Description Error</td>
        </tr>
        <tr>
            <td>Confirm password:</td>
            <td><input type="password" th:field="*{passwordConfirm}"/></td>
            <td th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}">Password confirm error</td>
        </tr>
        <tr>
            <td>
                <button type="submit">Register</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>